<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="named">Введите название книги: </label>
    <input type="text" th:field="*{named}" id="named"/>
    <div style="color:red" th:if="${#fields.hasErrors('named')}" th:errors="*{named}">Title Error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>
    <label for="yearBook">Введите год: </label>
    <input type="text" th:field="*{yearBook}" id="yearBook"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearBook')}" th:errors="*{yearBook}">Year Error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>